<?php
    $CONFIG = array (
        'datadirectory' => '{{ NEXTCLOUD_DATA_DIR }}',
        'dbtype' => 'mysql',
        'dbname' => '{{ NEXTCLOUD_DB_NAME }}',
        'dbhost' => '{{ NEXTCLOUD_DB_HOST }}',
        'dbuser' => '{{ NEXTCLOUD_DB_USER }}',
        'dbpassword' => '{{ NEXTCLOUD_DB_PASS }}',
        'installed' => false,
    );
